{{define "head"}}<title>Entrar &mdash; {{.SiteName}}</title>
<meta name="description" content="Log into {{.SiteName}}.">
<meta itemprop="description" content="Log into {{.SiteName}}.">
<style>
input{margin-bottom:0.5em;}
p.forgot {
	font-size: 0.8em;
	margin: 0 auto 1.5rem;
	text-align: left;
	max-width: 16rem;
}
</style>
{{end}}
{{define "content"}}
<div class="tight content-container">
	<h1>Entrar no {{.SiteName}}</h1>

	{{if .Flashes}}<ul class="errors">
		{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
	</ul>{{end}}

	{{template "oauth-buttons" .}}

{{if not .DisablePasswordAuth}}
	<form action="/auth/login" method="post" style="text-align: center;margin-top:1em;" onsubmit="disableSubmit()">
		<input type="text" name="alias" placeholder="Nome de Usuário" value="{{.LoginUsername}}" {{if not .LoginUsername}}autofocus{{end}} /><br />
		<input type="password" name="pass" placeholder="Senha" {{if .LoginUsername}}autofocus{{end}} /><br />
		{{if .EmailEnabled}}<p class="forgot"><a href="/reset">Esqueceu a senha?</a></p>{{end}}
		{{if .To}}<input type="hidden" name="to" value="{{.To}}" />{{end}}
		<input type="submit" id="btn-login" value="Entrar" />
	</form>

	{{if and (not .SingleUser) .OpenRegistration}}<p style="text-align:center;font-size:0.9em;margin:3em auto;max-width:26em;">{{if .Message}}{{.Message}}{{else}}<em>Ainda não tem conta?</em> <a href="{{.SignupPath}}">Cadastre-se</a> para começar a escrever.{{end}}</p>{{end}}

	<script type="text/javascript">
	function disableSubmit() {
		var $btn = document.getElementById("btn-login");
		$btn.value = "Entrando...";
		$btn.disabled = true;
	}
	</script>
	{{end}}
{{end}}
